body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  color: white;
  font-family: "Trebuchet MS", sans-serif;
  font-style: italic;
  /*
  background: url("images/bgm.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;
  */
  
  background: linear-gradient(60deg, gold, purple, #00bfff, #ff4c68);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;

  overflow: hidden auto;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-align: center;
  color: white;
  height: 10vh;
  margin-top: 10vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 60vh;
  width: 80vw;
  margin: auto; /*to centre the container div*/
  margin-top: 5vh;

  display: grid;
  grid-template-columns: 2fr 1fr;

  /*  background-color: grey;
*/
}

input {
  width: 30vw;
  border: none;
  font-size: 3vh;
  padding: 10px;
  margin: 3vh;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0 2vh 3vh -1vh;
}

input[type="number"] {
  width: 10vw;
}

button {
  width: 10vw;
  font-size: 3vh;
  padding: 10px;
  margin-top: 3vw;
  border: none;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0 2vh 3vh -1vh;
}

.rhs {
  padding-top: 20vh;
  height: inherit;
  overflow: auto;
  /*  background-color: yellow;
*/
}

@media screen and (max-width: 766px) {
  .container {
    grid-template-columns: 1fr;
  }

  button {
  width: 20vw;
  }

}