<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insta nonFollowers</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="icon" href="favicon.png" />
  </head>

  <body>
    <h1>notAlan's insta project</h1>
    <div class="container">
      <div class="lhs">
        <form action="/" method="POST">
          <label>Username:</label>
          <input type="text" name="username" required spellcheck="false" />
          <br />
          <label>Password:</label>
          <input type="password" name="password" required />
          <br />

          <label>no.of following:</label>
          <input type="number" name="folowing" min="0" max="7000" required />
          <br />
          <label>no.of followers:</label>
          <input type="number" name="folowers" min="0" max="7000" required />
          <br />
          <button type="submit">Generate</button>
        </form>
      </div>

      <div class="rhs">
        <p>ans is {{ ans }}</p>
      </div>
    </div>

    <script src="../static/app.js"></script>
  </body>
</html>
