<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insta nonFollowers</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="icon" href="../static/images/favicon.png" />
  </head>

  <body>
    <div class="container">
      <div class="lhs">
        <h1>notAlan selenium project</h1>

        <form action="/" method="POST">
          <label>Username:</label>
          <input type="text" name="username" required spellcheck="false" />
          <br />
          <label>Password:</label>
          <input type="password" name="password" required />
          <br />

          <label>no.of followers:</label>
          <input type="number" name="folowers" min="0" max="7000" required />
          <br />
          <label>no.of following:</label>
          <input type="number" name="folowing" min="0" max="7000" required />
          <br />

          <button>Find</button><!-- type="submit" by default -->
        </form>
      </div>

      <div class="rhs">
        {% for user in nonfollowers %}
          <a href="https://www.instagram.com/{{ user }}/">{{ user }}</a><br><br>
        {% endfor %}
      </div>
    </div>

    <script src="../static/app.js"></script>
  </body>
</html>
